@mixin generic-button {
	display: inline-block;
	padding: $padding-default;
	border-radius: 15px;
	transition: transform 0.3s;
	margin: 3px;
	&:hover {
		transform: scale(0.98);
	}
}

$buttonsColor: (
	primary: $primary-color,
	secondary: $secondary-color,
	tartiary: $tertiary-color,
);

@each $color, $value in $buttonsColor {
	.button-#{$color} {
		@include generic-button;
		background-color: $value;
		color: $light-color;
	}
}
