$colors: (
	color1: #0e6cff,
	color2: #ff8700,
	color3: #4caf50,
);

@each $color, $value in $colors {
	.my-#{$color} {
		color: $value;
	}
}

@mixin generic-button {
	padding: 10px 20px;
	border-radius: 15px;
	box-shadow: 5px 5px 10px #000;
}

$buttons: "button1", "button2", "button3";

@each $button in buttons {
	.#{button} {
		@include generic-button;
		background-color: #{$button}-bg;
	}
}
